<div [formGroup]="form" [connectForm]="actionForm">
  <p>
    <label>Nome</label>
    <input type="text" formControlName="name" > <br />
    <span *ngIf="form.get('name').errors && form.get('name').dirty" class="error" >Errooo</span>
  </p>
  <p>
    <label>E-mail</label>
    <senior-autocomplete type="text" elementFormControlName="email" value="Blumenau" ></senior-autocomplete>
    <br>
    <span *ngIf="form.get('email').errors && form.get('email').dirty" class="error" >Errooo</span>
  </p>
</div>
